.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .logo-header {
    width: 210px;
    height: 68px;
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link-header {
      color: black;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: black;
  width: 100%;

  .logo-footer {
    width: 122px;
    height: 40px;
    color: white;
  }

  .txt-footer {
    color: white;
  }
}
